---
layout: default
title: Knowledge Base
image: '/images/santoyo-dev.png'
description: Latest KB Articles & Resources
---

<style>
.article__image {
    padding-bottom: 50%;
}

</style>

<!-- begin hero -->
<section class="hero">
  <div class="container">
    <div class="row">
      <div class="col col-12">
        <div class="hero__inner">
          <h1 class="hero__title">{% if page.title %}{{ page.title }}{% else %}{{ site.data.settings.blog__settings.blog__title }}{% endif %}</h1>
          {% if page.description %}
            <p class="hero__description">{{ page.description }}</p>
          {% else site.data.settings.blog__settings.blog__description %}
            <p class="hero__description">{{ site.data.settings.blog__settings.blog__description }}</p>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</section>
<!-- end hero -->

<div class="container animate">
  <div class="row">

    {% if site.kbas.size > 0 %}
    {% assign sorted = site.kbas | sort: 'date' | reverse %}
      {% for post in sorted %}
        {% include article.html index = forloop.index collection = 'kba' %}
      {% endfor %}
    {% endif %}

  </div>
</div>
